@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --my-gradient: linear-gradient(
    71deg,
    rgba(164, 97, 239, 1) 0%,
    rgba(250, 100, 160, 1) 50%,
    rgba(254, 155, 98, 1) 100%
  );
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
